## Introduction to *Pressdown*

{{ pressDown }} is an extension of Markdown Extra that adds special processing directives to handle the specific needs of documentation tasks.  Some of the directives help reduce markup, and others allow for easily escaping Twig, Markdown, and {{ pressDown }} directives.  Most of all, though, pq{ {{ pressDown }} has lots of directives to make building your documentation easy and to make it beautiful.}(left beautiful)

This document provides detailed information and samples for all available {{ pressDown }} directives.  You will see generalized versions of each directive as well as examples taken directly from the markup used to create this document.  To make these easier to understand, these directives will be processed through a syntax highlighter.  See f{ {{ pressDown }} Syntax Highlighting}(syntax) for information on how to make sense of them.

figure{
Here is the ^Figure Directive^ in an abstract version as well as in a real-world version:

{@pre-prettyprintplain.pressdown

@figure{content}(caption?)#anchor-name

@figure{
Look I can use \*Markdown\* in here

Wow! I can use @@^Pressdown^, too!
}(My caption can use \*Markdown\* and @@^Pressdown^)#anchor

pre@}

Each component of the directive will have a specific color that denotes how it is used.

table-2{
    r:
        1: {@c-pressdown {@s-pd-directive Purple s@}(-p) c@}(-p)
        2: Highlights the actual directive that lets {{ pressDown }} know how and what to parse.
    r:
        1: {@c-pressdown {@s-pd-literal Blue s@}(-p) c@}(-p)
        2: A literal character.
    r:
        1: {@c-pressdown {@s-pd-content Off-white s@}(-p) c@}(-p)
        2: Denotes content that can contain Markdown and Pressdown.
    r:
        1: {@c-pressdown {@s-pd-option Light yellow s@}(-p) c@}(-p)
        2: Identifies options for the directive.
}()#pressdown-syntax-highlighting

Note that in abstracts of a directive a `?` signifies that the preceding component is optional.  So in the above, the `caption` component is optional, meaning the parentheses can be left empty.
}({{ pressDown }} Syntax Highlighting)#syntax

### Pull Quotes

The first directive we'll take a look at is the ^Pull Quote Directive^ - @pq{content}(float? anchor?).  If you want to bring attention to an important phrase or idea on a page, you can use a pull quote to highlight it.  They are often used to pq{grab the reader and draw them in}(left) to a specific section, to prevent them from flipping past.

As you may have guessed, the component `content` should be the word or phrase you want to use.  The `float` option specifies which way the pull quote will float wherever it appears.  If not given, the default value is `right`.  The `anchor` option can be the link name of a ^Pull Quote Anchor Directive^ that indicates where in the document flow the pull quote should appear.  If it is not given, the pull quote will be anchored to wherever the original content is.

To use the ^Pull Quote Directive^, simply enter it wherever the phrase would normally occur in the flow of the document.  The phrase will appear as normal in that location but also be displayed according to the `float` and `anchor` options.

alert{In the example below, `{@{ pressDown }}` is a Twig expression for the press variable `pressDown`.  You'll find more information about it below.}(info-circle)

{@pre-prettyprintplain

@pq{ {@{ pressDown }} has lots of directives to make building your documentation easy and to make it beautiful.}(beautiful)

pre@}()

table-3{
    h:
        3: Pull Quote - @pq{content}(placement)
    h:
        1: Component
        2(no-word-wrap): Can Contain Pressdown
        3: Description
    c:
        2: text-center
    r:
        1: `content`
        2: {f@check green}
        3: This is what you want to appear, as is, within the normal flow of the document.
    r:
        1: `placement`
        2: {f@times red}
        3: This is a combination of float direction and anchor name.  It can also be empty.  The Pull Quote is displayed as a styled `aside` tag.  It can float ^^left^^ or ^^right^^.  The default is ^^right^^ if no direction is given.  If an anchor name is provided it may only contain ^^A-Za-z0-9_-^^.  The `aside` will be placed immediately following the rendered pull quote `content`, or, if an anchor is provided, it will replace the Pull Quote Anchor in the document flow.
        Examples: (^^left^^), (^^right funny-quote^^), (^^obama-quote^^), ().
}(Summary of the ^Pull Quote Directive^)#pqd

table-3{
    h:
        3: Pull Quote Anchor - @pqa{name}
    h:
        1: Component
        2(no-word-wrap): Can Contain Pressdown
        3: Description
    c:
        2: text-center
    r:
        1: `name`
        2: {f@times red}
        3: The anchor name used in a ^Pull Quote Directive^ elsewhere.  The styled `aside` will be inserted into the document flow at the position of the directive.
}(Summary of the ^Pull Quote Anchor Directive^)#pqad


### The ^Classed Block Directive^

One main feature is the ^Classed Block Directive^ - @{@tag-class content tag@}.  This allows you to briefly create HTML blocks with a specific assigned class.  The `tag` can be replaced by a tag name or a one or two letter abbreviation that represents the following tags: ^^a^^, ^^b^^*lockquote*, ^^c^^*ode*, ^^f^^*igure*, ^^fig^^^^c^^*aption*, ^^d^^*iv*, ^^l^^*i*, ^^o^^*l*, ^^p^^, ^^pre^^, ^^s^^*pan*, and ^^u^^*l*.  The `class` can be replaced by a single class name or a series of class names separated by a `.`. You can also leave it empty and no class name will be applied to the block at all.  See Figure 1 below for an example.

{@figure-
With {{ pressDown }} this is how you make an element with a specific class:

{@pre-prettyprintplain
this: @{@s-z I need to be a span with "z" class s@}

becomes this: ```<span class="z">I need to be a span with "z" class</span>```
pre@}(no-strip-p-tags)

Then you can use `.z` in your CSS files to do something cool.
figure@}
{@fc- Figure 1: The ^Classed Block Directive^ @{@x-c .+ x@} fc@}

You can nest classed blocks and use Markdown Extra within them! Below is how I created the above sample.  You'll see a Twig expression for the press variable `pressDown`. It itself evaluates to the classed block directive: @{@s-a Pressdown s@}.

{@pre-prettyprintplain
@{@f-
  With {@{ pressDown }} this is how you make an element with a specific class:

  ```none
  this:
  @{s-z I need to be a span with "z" class s@}

  becomes this:
  <span class="z">I need to be a span with "z" class</span>
  @```

  Then you can use `.z` in your CSS files to do something cool.
f@}
@{@fc- Figure 1: The @^Classed Block Directive^ {@tag-class content tag@} fc@}
pre@}

After Twig, {{ pressDown }}, and Markdown Extra parsing, the final html markup looks like this:

```html
{@f-
  With {{ pressDown }} this is how you make an element with a specific class:

  ```none

  this:
  @{s-z I need to be a span with "z" class s@}

  becomes this:
  <span class="z">I need to be a span with "z" class</span>
  ```

  Then you can use `.z` in your CSS files to do something cool.
f@}
{@fc- Figure 1: The ^Classed Block Directive^ @{@tag-class content tag@} fc@}
```

### Figures and Captions

If you were paying attention above, you noticed that Figure 1 uses classed blocks of the `f(igure)` and `f(ig)c(aption)` variety.  {{ cliPress }} automatically styles figures and captions to look like insets as the one above.  But as simple as the ^Classed Block Directive^ is, pq{ {{ pressDown }} has an even better way to create figures and captions.}(right far-away)  The ^Figure Directive^ - @{=fig-name .+ fig=}(caption)?.

Let's break down what that does, and how {{ pressDown }} helps you with it.  The `.+` is the content that will go in the `figure` tag.  The `name` should be a unique name for the figure.  This name allows you to create a link to the figure from any file using the ^Figure Link Directive^.  Finally the `caption` is an optional caption tha will be added to the bottom of the figure, like the caption on the example above.  And here's the best part: {{ pressDown }} will automatically number your figures for you, and prefix your caption with "Figure X:".  Don't worry about renumbering figures.  It's handled.

To see the directive in action, here's an example of how to create *Figure 1* using the ^Figure Directive^.

```none
@{=fig-CBD
  With {@{ pressDown }} this is how you make an element with a specific class:

  @```none
  this:
  @{s-z I need to be a span with "z" class s@}

  becomes this:
  <span class="z">I need to be a span with "z" class</span>
  @```

  Then you can use `.z` in your CSS files to do something cool. fig=}(The ^Classed Block Directive^ @{@tag-class content tag@})
```

And here's that {{ pressDown }} in action:

figure{
  With {{ pressDown }} this is how you make an element with a specific class:

  ```none
  this:
  @{s-z I need to be a span with "z" class s@}

  becomes this:
  <span class="z">I need to be a span with "z" class</span>
  ```

  Then you can use `.z` in your CSS files to do something cool.}(The ^Classed Block Directive^ @{@tag-class content tag@})#CBD

Now suppose you want to refer to this figure later or earlier in the document. {{ pressDown }} can create a link for you that will automatically reference the proper number of the figure, regardless of where, or what order, it was defined. Just use the name you provided in the ^Figure Directive^ and {{ pressDown }} will handle the rest. This magic is accomplished with the ^Figure Link Directive^: f{link text}(name) . The `name` must match the one in the Figure Directive. The `link text`, if defined, will be appended to the default link text of "Figure X". For example @f{Classed Block Directive}(CBD), would create a link that says "Figure 1: Classed Block Directive". If it were empty, the link would instead simply say "Figure 1".
